/*
Program       esci-dance-r.css
Author        Gordon Moore
Date          20 August 2020
Description   CSS for esci dance-r
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1   Initial version


#endregion */


/*---------------------------------icons-----------------------------------------------------------*/

.red {
  color: red;
}

.black {
  color: black;
}

.small {
  font-size: 1.3rem;
}

.small1 {
  font-size: 1.4rem;
}

.backcolour {
  border: 1px solid darkgrey;
  background-color: lemonchiffon;
  padding-left:0.2rem;
  padding-right: 0.2rem;
}

.greek2 {
  font-size: 2.2rem;
}

.icons {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2.6rem;
}

.slidericons {
  margin-top: 2.8rem;
}

.slidericons:hover {
  background-color: lightgray;
}

.slidericons:active {
  background-color: darkgrey;
}

/*----------------------------------Override left panel--------------------------------------------*/

#leftpanel {
  border: 2px solid black;
  font-size: 1.6rem;
}

#header {
  border: 0px solid black;
}

#breadcrumbs {
  border: 1px solid black;
  font-size: 1.6rem;
}

/*----------------tab-----------------*/

#smarttab {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

/*override*/
.st-theme-round > .tab-content > .tab-pane {
  padding-left: 2px;
  padding-right: 2px;
}

/*---------------tab headers----------------------------------------------------------*/

.nav-link {
  font-size: 1.6rem !important;
}

/*----------------------------------same r tab----------------------------------------------------*/

#tab-1 {
  font-size: 1.5rem !important;
}

#tab1text {
  border: 1px solid black;
  font-size: 1.5rem;
  padding-left: 0.5rem;;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/*----------------------------------Panels-----------------------------------------------------*/

/*--------------Tab 1 Panel 1 N1-----------------------*/
#N1panel {
  border: 1px solid black;
  background-color: #FFFF99;
  padding: 0.5rem;
}

#N1sliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#N1val {
  margin-top: 3.0rem;
  height: 2rem;
  width: 4rem;
}

/*--------------Tab 1 Panel 2 r-----------------------*/
#rpanel {
  border: 1px solid black;
  background-color: #CCFFCC;
  padding: 0.5rem;
}

#rsliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#rval {
  margin-top: 3.0rem;
  height: 2rem;
  width: 4rem;
}

#calculatedrdiv {
  margin: 0.5rem;
}



/*--------------Tab 1 Panel 3 New data set-----------------------*/
#newdatasetpanel {
  border: 1px solid black;
  background-color: ivory;
  padding: 0.5rem;
  height: 9rem;
}

#newdataset {
  padding: 0.7rem;
  width: 12rem;
  height: 4rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: palegreen;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
}

#newdataset:hover {
  background-color: springgreen;
}

#newdataset:active {
  background-color: green;
}

/*--------------Tab 1 Panel 4 Display features-----------------------*/
#displayfeaturespanel {
  border: 1px solid black;
  background-color: #CCFFFF;
  padding: 0.5rem;
}

#displayr {
  margin-top: 1.0rem;
}

#displayctm {
  margin-top: 1.0rem;
}

#displaymd {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

/*--------------Tab 1 Panel 5 Descriptive statistics 1-----------------------*/
#displaystatistics1spanel {
  border: 1px solid black;
  background-color: #D2C4EE;
  padding: 0.5rem;
}

#statistics1 {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}


/*--------------Tab 1 Panel 6 Display lines-----------------------*/
#displaylines1panel {
  border: 1px solid black;
  background-color: papayawhip;
  padding: 0.5rem;

}

#displaylines1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/*--------------------------------------Dance r tab------------------------------------------------------*/

#tab-2 {
  font-size: 1.5rem !important;
}

#tab2text {
  border: 1px solid black;
  font-size: 1.5rem;
  padding-left: 0.5rem;;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/*--------------Tab 2 Panel 1 N-----------------------*/
#N2panel {
  border: 1px solid black;
  background-color: #FFFF99;
  padding: 0.5rem;
}

#N2sliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#N2val {
  margin-top: 3.0rem;
  height: 2rem;
  width: 4rem;
}

/*--------------Tab 2 Panel 2 rho-----------------------*/
#rhopanel {
  border: 1px solid black;
  background-color: #FFCC99;
  padding: 0.5rem;
}

#rhosliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#rhoval {
  margin-top: 3.0rem;
  height: 2rem;
  width: 4rem;
}

#calculatedrhodiv {
  margin-left: 0.5rem;
  margin-bottom: 1.0rem;
}

#cionrhodiv {
  margin: 0.5rem;
}

#cionrhoinfo {
  margin: 0.5rem;
}


/*----------------------------------Right panel-----------------------------------------*/
#rightpanel {
  border: 1px solid grey;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

/*----------------------------------footer override---------------------------------*/

#footer {
  font-size: 1.4rem !important;
}

/*----------------------------------display-------------------------------------------------------------*/

#display {
  background-color: white;
}

